<div id="top-bar" class="navbar-fixed-top">
			<div id="logo" >
				<a href="/" class="navbar-left">
					<img src="images/logo.jpg" width="271" height="50" style="margin: 20px;">
				</a>
			</div>
			<div>
				<div id="mid" class="visible-lg">
					<h2 class="navbar-left">Jet Ski Classifieds</h2>
				</div>
				
				<div data-ng-show="!authenticated" class="visible-lg visible-md visible-sm">
					<div id="top-bar-right" class="navbar-right" data-ng-controller="LoginController as main">
						<form name="mainHeaderLogin">
							<div><input type="text" size="9" id="username" data-ng-model="event.username" class="form-control" placeholder="user"></div>
							<div><input type="password" size="9" id="password" data-ng-model="event.password" class="form-control" placeholder="password"></div>
							<div><button type="submit" class="btn btn-success" data-ng-click="loginEvent(event, mainHeaderLogin)" >Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>