	
		<div id="login-sm" class="visible-xs">
					<div>
						<form name="mainHeaderLogin">
							<div><input type="text" id="username" data-ng-model="main.username" class="form-control" placeholder="a@yahoo.com"></div>
							<div><input type="password" id="password" data-ng-model="main.password" class="form-control" placeholder="Password"></div>
							<div><button type="submit" data-ng-click="loginEvent(main, mainHeaderLogin)" class="btn btn-success">Submit</button>
							<a href="signUp">SignUp</a><span> | </span><a href="#">Forgot Password</a>
							</div>
						</form>
					</div>
				</div>
		<div id="menu" class="navbar navbar-default">
			<div class="navbar-header">
				<div id="nav-menu-collapse" class="navbar-collapse collapse">
					<ul id="lnavbar" class="nav navbar-nav navbar-left">
						<li class="nav"><a href="/">Home</a></li>
						<li class="nav"><a href="viewJetSki">Water Crafts</a></li>
						<li class="nav"><a href="aboutContent">Company</a></li>
					</ul>
				</div>
			</div>
				<div class="navbar-collapse collapse">
					<ul id="rnavbar" class="nav navbar-nav navbar-right">
						<li class="nav"><a href="signUp">Sign Up</a></li>
					</ul>
				</div>
				<button class="btn btn-success navbar-toggle"
						data-toggle="collapse" 
						data-target="#nav-menu-collapse">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
		</div>
